### Setup

In [9]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import yfinance as yf
from alpha_vantage.timeseries import TimeSeries
import time
import datetime
import matplotlib as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression
from sklearn.feature_selection import RFECV
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
%matplotlib inline

from keys import client_id, secret_key, av_key

### Alpha Vantage

In [14]:
ts = TimeSeries(key=av_key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol='GME', interval='1min', outputsize='full')

In [15]:
data

                     1. open  2. high  3. low  4. close  5. volume
date
2021-03-26 20:00:00   178.51   179.00  178.50    178.50     2653.0
2021-03-26 19:59:00   179.01   179.25  179.00    179.00     1845.0
2021-03-26 19:58:00   179.02   179.02  179.02    179.02      384.0
2021-03-26 19:57:00   179.30   179.30  179.01    179.01      910.0
2021-03-26 19:56:00   179.75   179.75  179.40    179.40      795.0
...                      ...      ...     ...       ...        ...
2021-03-15 04:05:00   273.16   274.80  273.00    273.00     3254.0
2021-03-15 04:04:00   271.93   273.00  271.93    272.99     3584.0
2021-03-15 04:03:00   270.16   271.99  270.10    271.99     2736.0
2021-03-15 04:02:00   268.00   269.00  268.00    269.00     1417.0
2021-03-15 04:01:00   270.00   272.00  268.79    270.00     3393.0

[7584 rows x 5 columns]

In [ ]:
with open

### yfinance

In [6]:
gme_df = yf.download('GME', start='2021-02-03', end='2021-03-13', progress=False)
gme_df['Change'] = gme_df.Close - gme_df.Open
gme_df['Put/Call OI Ratio'] = float(0)

# EDA

# Feature Engineering

GME open price
GME close price
SPY 
DIA
XRT close price
QQQ 
IWM
VXX